<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Word Counter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="card">
  <div class="card-body">
    <h1>This is a word Counter</h1>
    <h2>Enter your paragraph below</h2>
    <form class="" action="/" method="post">
    <div class="input-group mb-3 para">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Enter-></span>
      </div>



      <input type="text" class="form-control" name="checkInput" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <input type="submit" name="submit" value="submit">
    </form>

    </div>
</div>
     </body>
</html>
